# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Main/bin/*
Main/obj/*
/Main/Lesson01-01/bin/*
/Main/Lesson01-01/obj/*
/Main/Lesson02-01/bin/*
/Main/Lesson02-01/obj/*
/Main/Lesson02-02/bin/*
/Main/Lesson02-02/obj/*
/Main/Lesson03-01/bin/*
/Main/Lesson03-01/obj/*
/Main/Lesson03-02/bin/*
/Main/Lesson03-02/obj/*
/Main/Lesson04-01/bin/*
/Main/Lesson04-01/obj/*
/Main/Lesson04-02/bin/*
/Main/Lesson04-02/obj/*
/Main/Lesson05-01/bin/*
/Main/Lesson05-01/obj/*
/Main/Lesson06-01/bin/*
/Main/Lesson06-01/obj/*
/Main/Lesson06-02/bin/*
/Main/Lesson06-02/obj/*
